<!-- Titulo -->
<title>Informações sobre Alimentação</title>

<!-- Body -->
<header>
  <h1>Doenças Alimentares</h1>
</header>
<div class="container">
  <div class="image-container">
    <div class="image-box">
      <img src="/img/img2.jpg" alt="Tipos de Doenças Alimentares">
      <p>Existem vários tipos de doenças alimentares, incluindo intoxicação
        alimentar bacteriana, intoxicação por alimentos químicos, alergias
        alimentares e doenças transmitidas por alimentos.</p>
    </div>
    <div class="image-box">
      <img src="/img/sintoma.jpg" alt="Causas">
      <p>Os sintomas das doenças alimentares, podem variar de leves a graves,
        destacando a importância de identificá-los rapidamente.</p>
    </div>
    <div class="image-box">
      <img src="/img/prevencao.jpg" alt="Prevenção">
      <p>A prevenção é a melhor defesa contra doenças alimentares; lavar as
        mãos, cozinhar alimentos adequadamente e armazená-los de maneira segura
        são medidas eficazes de prevenção.</p>
    </div>
    <div class="image-box">
      <img src="/img/conscientizacao.jpg" alt="Conscientização">
      <p>Conhecer as práticas corretas de manuseio e preparação de alimentos
        pode salvar vidas.</p>
    </div>
  </div>
</div>