<!-- Titulo -->
<title>Tela Inicial</title>

<!-- Style -->
<style>
    .header {
            background-image: url('/img/testee.jpg');
            background-size: cover;
            color: #fff;
            padding: 100px 0;
            text-align: center;
        }

    .header h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    .header p {
        font-size: 1.5rem;
        margin-bottom: 40px;
    }

    .btn-primary {
        background-color: #9384D1;
        border-color: #9384D1;
        font-size: 1.25rem;
        padding: 10px 20px;
        border-radius: 25px;
    }

    .btn-primary:hover {
        background-color: #9384D1;
        border-color: #9384D1;
    }

    .features {
        background-color: #FFFBE2;
        padding: 60px 0;
        text-align: justify;
    }

    .feature-icon {
        font-size: 3rem;
        color: #007bff;
    }

    .feature-heading {
        font-size: 1.5rem;
        margin-top: 20px;
            
    }

    .feature-description {
        font-size: 1rem;
        margin-top: 10px;
    }
</style>

<!-- Body -->
<div class="header">
    <div class="container">
        <h1>Alimentação Saudável</h1>
        <p>Uma alimentação saudável é a base para uma vida ativa e equilibrada,
            escolha alimentos naturais e coloridos para nutrir seu corpo.
            Existem muitas doenças alimentares como consequências de se
            alimentar de forma incorreta.</p>
        <a href="/home" class="btn btn-primary">Saiba mais</a>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <h2 class="feature-heading">Alimentação Consciente</h2>
                <p class="feature-description">A alimentação consciente é uma
                    jornada para apreciar cada mordida, valorizar os nutrientes
                    e reconectar-se com seu corpo.</p>
            </div>
            <div class="col-md-4">

                <h2 class="feature-heading">Alimentação e Bem-Estar</h2>
                <p class="feature-description">O segredo para um verdadeiro
                    bem-estar está na alimentação. Escolha alimentos saudáveis
                    para uma vida plena e energética.</p>
            </div>
            <div class="col-md-4">

                <h2 class="feature-heading">Dietas Específicas</h2>
                <p class="feature-description">Cada pessoa é única, e encontrar
                    a dieta que melhor se adapta ao seu corpo e estilo de vida é
                    fundamental para alcançar seus objetivos de saúde.</p>
            </div>
        </div>
    </div>
</div>