 <!-- Titulo -->
<title>Sistema imunológico</title>

<!-- Style -->
{{>receitaStyle}}

<!-- Body -->
<div class="container container-rec">
    <h1 class="text-center">Sistema imunológico</h1>

    <!-- Seção de texto de introdução -->
    <div class="intro-text">
        <p>
            Bem-vindo à nossa coleção de receitas deliciosas e informações úteis
            sobre culinária.
            Explore as receitas abaixo e desfrute de pratos incríveis!
        </p>
    </div>
    <h1 class="text-center">Receita</h1>
    <!-- Exemplo de receita 1 -->
    <div class="row recipe">

        <div class="col-md-4">
            <img src="/img/receita/defaultReceita.jpg" alt="Receita 01">
        </div>
        <div class="col-md-8">
            <h2 class="recipe-title">Receita 1</h2>
            <p class="recipe-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                eget ante nec nulla venenatis pellentesque.
                Sed interdum, ex ac viverra feugiat, metus dolor varius lorem,
                id tincidunt tortor odio vel ipsum.
            </p>
        </div>
    </div>

    <!-- Exemplo de receita 2 -->

</div>
