<!-- Titulo -->
<title>Sangue</title>

<!-- Style -->
{{>receitaStyle}}

<!-- Body -->
<div class="container container-rec">
  <h1 class="text-center">Sangue</h1>

  <!-- Seção de texto de introdução -->
  <div class="intro-text">
    <p>
      A principal função do sangue é transportar substâncias vitais para todas
      as partes do corpo e realizar diversas funções essenciais. Algumas doenças
      que afetam o sistema sanguíneo incluem:
      <br />
      <br />
      - Anemia
      <br />
      - Leucemia
      <br />
      - Trombocitopenia
    </p>
  </div>
  <h1 class="text-center">Receita</h1>
  <!-- Exemplo de receita 1 -->
  <div class="row recipe">

    <div class="col-md-4">
      <img src="/img/receita/defaultReceita.jpg" alt="Receita 01">
    </div>
    <div class="col-md-8">
      <h2 class="recipe-title">Suco de Beterraba e Laranja:</h2>
      <p class="recipe-description">

        <h4>Ingredientes</h4>
        <br />
        - 1 beterraba média
        <br />
        - 2 laranja
      </p>
    </div>
  </div>
</div>